/*****************************************************************-/

初始化及公用CSS

/-*****************************************************************/

* {margin:0; padding:0;}
img {border:0px;}
ul li {list-style:none;}
a{text-decoration:none;color:#000;font-family:Arial,"微软雅黑","Microsoft YaHei";}
a:hover{text-decoration:none;}
div:after {content: '.'; display: block; height: 0; clear: both; visibility: hidden;}
body{font-family:Arial,"微软雅黑","Microsoft YaHei";font-size:12px;}
p{font-size:12px;line-height:20px;font-family:Arial,'宋体';}
.c{clear:both;}
h1,h2,h3,h4,h5,h6{ font-family:Arial,"微软雅黑","Microsoft YaHei";}
input,button,select,textarea{outline:none;}


/*布局*/
.box {width:100%;overflow:hidden;margin-bottom:10px;}
.no-mb {margin-bottom:0;}
.col-main {float: left;width:100%;min-height: 1px; display:inline; overflow:hidden;}
.col-sub, .col-extra {float: left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after { content: '\20'; display: block; height: 0; clear: both; }
.layout, .main-wrap, .col-sub, .col-extra {*zoom: 1; }

.grid-s5m0 .main-wrap { margin-left: 220px; } .grid-s5m0 .col-sub { width: 212px; margin-left: -100%; }
.grid-m0s5 .main-wrap { margin-right: 200px;} .grid-m0s5 .col-sub { width: 185px; margin-left: -185px;}

/* 748&230 */
.grid-s55m0 .main-wrap {margin-left: 240px; } .grid-s55m0 .col-sub { width: 230px; margin-left: -100%; }
.grid-m0s55 .main-wrap {margin-right: 240px;} .grid-m0s55 .col-sub { width: 230px; margin-left: -230px;}


.grid-s4m0 .main-wrap {margin-left: 160px; } .grid-s4m0 .col-sub { width: 150px; margin-left: -100%; }
.grid-s6m0 .main-wrap {margin-left: 220px; } .grid-s6m0 .col-sub { width: 220px; margin-left: -100%; }
.grid-m0s6 .main-wrap {margin-right: 200px; } .grid-m0s6 .col-sub { width: 230px; margin-left: -230px; }
.grid-m0s8 .main-wrap {margin-right: 340px; } .grid-m0s8 .col-sub { width: 320px; margin-left: -320px; }

/*自定义 布局 start*/
.grid-m0s475 .main-wrap {margin-right: 206px;} .grid-m0s475 .col-sub { width: 196px; margin-left: -196px;}
.grid-s675m0 .main-wrap {margin-left: 260px; } .grid-s675m0 .col-sub { width: 260px; margin-left: -100%; }
.grid-s65m0e75 .main-wrap {margin: 0 305px 0 275px; } .grid-s65m0e75 .col-sub { width:260px; margin-left: -100%; } .grid-s65m0e75 .col-extra {width: 290px; margin-left: -290px; }
/*自定义 布局 end*/

.grid-s5m0e6 .main-wrap {margin: 0 240px 0 200px; } .grid-s5m0e6 .col-sub { width: 190px; margin-left: -100%; } .grid-s5m0e6 .col-extra { width: 230px; margin-left: -230px; }
.grid-e6m0s5 .main-wrap {margin: 0 200px 0 240px; } .grid-e6m0s5 .col-sub { width: 190px; margin-left: -190px; } .grid-e6m0s5 .col-extra { width: 230px; margin-left: -100%; }
.grid-m0e6s5 .main-wrap {margin-right: 440px; } .grid-m0e6s5 .col-sub { width: 190px; margin-left: -190px; } .grid-m0e6s5 .col-extra { width: 230px; margin-left: -430px; }
.grid-s5m0e5 .main-wrap {margin: 0 208px 0 208px; } .grid-s5m0e5 .col-sub { width: 198px; margin-left: -980px; } .grid-s5m0e5 .col-extra { width: 198px; margin-left: -198px; }

#hd,#ft{width:980px;margin:0 auto;overflow:hidden;}
#content{width:100%;min-width:1004px;_width:expression((documentElement.clientWidth < 1008) ? "1008px" : "100%" );}
#bd{width:980px;margin:0 auto;}

.htmleditor{clear:both;line-height:1.8;font-size:14px;text-align:justify;}
.htmleditor p {display:block;margin-bottom:10px;font-size:14px;}

/* 通用样式 */
.f14{font-size:14px;}
.fbd{font-weight:bold;}

.htmleditor {color:#414043;}/*kc_20130626_header样式信息  */
.kc_20130626_logo{height:44px;margin:12px 0 13px 0;}
/* 导航栏样式 */
.kc_20130626_nav{width:100%;margin:0 auto;overflow:hidden;height:38px;background:url(/static/home/images/nav_bg.png) no-repeat;}
.kc_20130626_nav ul{position:relative;}
.kc_20130626_nav li{float:left;line-height:38px;height:38px;width:163px;text-align:center;background:url(/static/home/images/nav_line.png) left 0 no-repeat; overflow:hidden;}
.kc_20130626_nav .first{}
.kc_20130626_nav li .index{background:url(/static/home/images/nav_hover.png) repeat-x;}
.kc_20130626_nav li a{color:#fff;font-size:14px;display:block;font-family:Arial,"微软雅黑","Microsoft YaHei";}
.kc_20130626_nav li a:hover{background:#706F6F; repeat-x;}
.kc_20130626_nav .search{position:absolute;right:0;top:0;}
.kc_20130626_nav .search_l {cursor:pointer;background:url(/static/home/images/search_bg.gif) no-repeat 0 0;width:60%;height:20px;float:left;display:inline;overflow:hidden;margin:9px 0 0 10%;position:relative;}
.kc_20130626_nav .search_r {cursor:pointer;float:left;display:inline;overflow:hidden;background:url(/static/home/images/search_bg.gif) no-repeat right 0;width:20%;height:20px;margin-top:9px;position:relative;}
.kc_20130626_nav li .active{background:url(/static/home/images/search_focus.png) no-repeat;width:110px;height:20px;}

.kc_20130626_nav .search_focus .search_l {background-position:0 -20px;}
.kc_20130626_nav .search_focus .search_r {background-position:right -20px;}

.kc_20130626_nav .search .text{width:96%;border:0;background:none;height:15px;margin:3px 0 0 16px;}
.kc_20130626_nav .search .search_bt{width:30px;height:20px;position:absolute;top:3px;right:0px;}

/* 二级菜单样式 */
.sub_list{width:136px;text-align:center;display:none;background:#8a8a8a;border:2px solid #fff;}
.sub_list li{height:26px;line-height:26px;border-bottom:1px solid #6f6f6f;}
.sub_list li a{color:#fff;}
.sub_list li a:hover{text-decoration:underline;}
/* 左侧栏样式 */
.top_line{height:8px;width:980px;}
.m8{margin:9px 0 10px 0;}
.kc_20130626_content{border-left:1px solid #d8d5d5;border-right:1px solid #d8d5d5;padding:8px 20px 0 20px;width:937px;}
.kc_20130626_content .jinrong_left{width:188px;float:left;overflow:hidden;}
.kc_20130626_content .jinrong_left .left_tit{overflow:hidden;font-size:20px;text-align:center;height:34px;width:166px;line-height:34px;}
.kc_20130626_content .jinrong_left .left_list{border:1px solid #d8d5d5;width:166px;}
.kc_20130626_content .jinrong_left .left_list li{background:url(/static/home/images/sub_bg.png) repeat-x;color:#121317;font-size:13px;height:31px;line-height:31px;cursor:pointer;}
.kc_20130626_content .jinrong_left .left_list li a{overflow:hidden;display:block;padding-left:30px;color:#121317;font-size:13px;width:136px;height:31px;line-height:31px;}
.kc_20130626_content .jinrong_left .left_list li a:hover{color:#fff;background:url(/static/home/images/sub_hover.png) no-repeat;}
.kc_20130626_content .jinrong_left .left_list .ks_active{color:#fff;background:url(/static/home/images/sub_hover.png) no-repeat;display:block;}
.kc_20130626_content .jinrong_left .left_list .current{background:url(/static/home/images/sub_hover.png) repeat-x;}
/* 中间内容样式 */
.kc_20130626_content .jinrong_right{float:left;width:717px;background:url(/static/home/images/r_line.png) left 0 no-repeat;padding:3px 0 0 30px;}
.kc_20130626_content .jinrong_right .site{background:url(/static/home/images/site_bg.png) no-repeat;width:720px;height:24px;line-height:24px;display:none;}
.kc_20130626_content .jinrong_right .site img{float:left;margin:5px 0 0 10px;}
.kc_20130626_content .jinrong_right .site .site_position{float:left;margin-left:5px;color:#221815;font-size:12px;width:600px;}
.kc_20130626_content .jinrong_right .site .site_position a{color:#221815;}
.kc_20130626_content .jinrong_right .site .site_position a:hover{text-decoration:underline;}
.kc_20130626_content .jinrong_right .site .site_position span{margin:0 5px 0 5px;}

.kc_20130626_content .jinrong_right .title{margin:20px 0 0 0;}
.kc_20130626_content .jinrong_right .title p{font-size:18px;color:#414043;font-family:Arial,"微软雅黑","Microsoft YaHei";height:22px;}
.kc_20130626_content .jinrong_right .title span{color:#c9c9c9;height:23px;line-height:23px;}
.kc_20130626_content .jinrong_right img{margin:20px 0 0 0;}
.kc_20130626_content .jinrong_right .text{overflow:hidden;padding:3px 0 22px 0;color:#414043;font-family:Arial,"微软雅黑","Microsoft YaHei";}
.kc_20130626_content .jinrong_right .text p{margin:24px 0 0 0;line-height:25px;font-family:Arial,"微软雅黑","Microsoft YaHei";color:#414043;}
/*kc_20130626_list样式 */
.kc_20130626_list{background:url(/static/home/images/tbg.png) no-repeat;text-align:center;padding:8px 0 0 0; width:100%;margin-top:15px; border-radius:8px; -moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px; overflow:hidden;}
.kc_20130626_list .bd{width:960px;margin:0 auto 15px auto;}
.kc_20130626_list .bigtitle{text-align:center;}
.kc_20130626_list .bigtitle h2{font-size:36px;padding-top:48px;font-weight:normal;color:#cf0027;line-height:58px;}
.kc_20130626_list .bigtitle p{font-size:26px;color:#221815;font-family:Arial,"微软雅黑","Microsoft YaHei";height:27px;line-height:27px;}
.kc_20130626_list .list_txt{color:#626262;font-size:14px;margin:26px 0 20px 0;}
.kc_20130626_list .list_icon{margin:0 auto 45px auto;width:940px;overflow:hidden;}
.kc_20130626_list .list_icon ul{_margin-left:-16px;overflow:hidden;margin:0 auto;padding:0;zoom:1;display:inline-block;*display:inline;}
.kc_20130626_list .list_icon li{float:left;margin:0 12px 0 12px;width:90px;overflow:hidden;}
.kc_20130626_list .list_icon li .pic{color:#221815;width:90px;height:88px;display:block;margin:0 0 5px 0;}
.kc_20130626_list .list_icon li .pic:hover{background-position:0 -88px!important;}
.kc_20130626_list .list_icon li p{font-size:14px;font-family:Arial,"微软雅黑","Microsoft YaHei";}
.kc_20130626_list .list_icon li p a{color:#221815;font-size:12px;}
/* 通知公告信息样式*/
.kc_20130626_infos,.kc_20130626_infos .bd{overflow:hidden;}
.kc_20130626_infos .bd{ width:998px;}
.kc_20130626_infos .info_list{background:url(/static/home/images/tbg1.png) no-repeat;width:224px;padding:12px 0 0 10px;float:left;margin:0 15px 0 0;height:170px;}
.kc_20130626_infos .info_list .tab{padding-left:0;}
.kc_20130626_infos .info_list .scrollx{position:relative;width:214px;height:150px;overflow:hidden;}
.kc_20130626_infos .info_list .tit{font-size:16px;color:#221815;height:21px;overflow:hidden;}
.kc_20130626_infos .info_list .tit2{font-size:16px;color:#221815;height:21px;overflow:hidden;}
.kc_20130626_infos .info_list .tit2 a{ color:#606060;}
.kc_20130626_infos .info_list .titname{font-size:12px;color:#606060;margin:7px 0 5px 6px; height:18px; line-height:18px; overflow:hidden;}
.kc_20130626_infos .info_list .titname a{color:#606060;}
.kc_20130626_infos .info_list .list_ad{margin:10px 0 10px 0;color:#716f6f;}
.kc_20130626_infos .info_list .list_ad a{color:#716f6f;}
.kc_20130626_infos .info_list .list_ad a:hover{color:#cf0027;}
.kc_20130626_infos .info_list .list_ad{margin:10px 8px 10px 0;color:#716f6f;}
.kc_20130626_infos .info_list .list_ad p{color:#716F6F;font-family:Arial,"微软雅黑","Microsoft YaHei";}
.kc_20130626_infos .info_list .list_ad span{color:#cf0027;}
.kc_20130626_infos .info_list .list_ad .list_pic{width:100%;margin:0 auto;}
.kc_20130626_infos .info_list .list_ad img{margin:5px auto 6px auto;}
.kc_20130626_infos .info_list .list_ad li{background:url(/static/home/images/cicrle.png) left 10px no-repeat;line-height:23px;}
.kc_20130626_infos .info_list .list_ad li a{padding-left:10px;color:#716f6f;}
.kc_20130626_infos .info_list .list_ad li a:hover{color:#cf0027;}
.kc_20130626_infos .info_list .tpaly{display:block;margin:0 0 15px 5px;width:205px;overflow:hidden;height:120px;position:relative; overflow:hidden;}
.kc_20130626_infos .info_list .tpaly img{position:absolute;left:91px;top:47px;}
.kc_20130626_infos .info_list .tpaly img.play_button2{display:none;}
.kc_20130626_infos .info_list .tpaly:hover img.play_button2{display:block;}
.kc_20130626_infos .info_list .tpaly:hover img.play_button1{display:none;}

.kc_20130626_infos .info_list .list_cont{padding:5px 0 0 0;}
.kc_20130626_infos .info_list .list_link{width:194px;overflow:hidden;margin:0 15px 0 5px;}
.kc_20130626_infos .info_list .list_link ul{margin:0;padding:0;}
.kc_20130626_infos .info_list .list_link li{float:left;margin:0 7px 7px 0;height:32px;overflow:hidden;}
.kc_20130626_infos .info_list .list_link li img{height:32px;width:88px;}
.kc_20130626_infos .info_list .tit .title{float:left;overflow:hidden;display:inline;width:164px;}
.kc_20130626_infos .info_list .tit2{ height:18px; line-height:18px; font-size:12px; margin:7px 0 5px 6px;}
.kc_20130626_infos .info_list .tit2 .title a{color:#606060; font-size:12px;}
.kc_20130626_infos .info_list .tit2 .tabs_list{float:left;position:relative;width:40px;margin:3px 8px 0 0;}
.kc_20130626_infos .info_list .crs_list1{display:none;}
.kc_20130626_infos .info_list .tit2 .tabs_list span{display:block;width:17px;height:15px;float:left;cursor:pointer;}
.kc_20130626_infos .info_list .tit2 .tabs_list .index_prev{background:url(/static/home/images/arrow_l.png) no-repeat;margin-right:1px;}
.kc_20130626_infos .info_list .tit2 .tabs_list .index_next{background:url(/static/home/images/arrow_rhover.png) no-repeat;}
.kc_20130626_infos .info_list .tit2 .tabs_list .index_prev:hover{background:url(/static/home/images/arrow_lhover.png) no-repeat;margin-right:1px;}
.kc_20130626_infos .info_list .tit2 .tabs_list .index_next:hover{background:url(/static/home/images/arrow_r.png) no-repeat;}
/* 新闻中心列表页样式*/
.kc_20130626_content .jinrong_right .rongzi .inform{margin:20px 0 0 0;width:717px;overflow:hidden;}
.kc_20130626_content .jinrong_right .rongzi .inform .desc{padding:0 0 6px 0;height:25px;}
.kc_20130626_content .jinrong_right .rongzi .inform .desc a{display:block;width:54px;height:25px;float:left;background:#e4e4e4;margin-right:2px;text-align:center;line-height:25px;font-size:14px;}
.kc_20130626_content .jinrong_right .rongzi .inform .desc .current{background:#cf0027;color:#fff;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news{background:url(/static/home/images/time_bbg.png) 0 bottom no-repeat;width:720px;padding-bottom:15px;margin-bottom:5px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content{position:relative;padding:36px 0 0 15px;width:702px;background:url(/static/home/images/time_bg.png) no-repeat;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content li{height:33px;line-height:33px;border-bottom:1px dotted #d0d0d0;font-size:13px;color:#444;background:url(/static/home/images/icon_10.png) 8px center no-repeat;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content .video{height:33px;line-height:33px;border-bottom:1px dotted #d0d0d0;font-size:13px;color:#444;background:url(/static/home/images/icon_11.gif) 8px center no-repeat;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content li a{color:#444;float:left;padding-left:28px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content li span{float:right;margin-right:19px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_content li a:hover{color:#cf0027;}

.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_star{padding:36px 0 0 25px;width:702px;background:url(/static/home/images/time_bg.png) no-repeat;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_star li{font-size:13px;color:#444;width:107px;height:113px;float:left;margin-right:32px;margin-bottom:30px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_star li a{color:#444;width:98px;text-align:center;display:block;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_star li a img{border:1px solid #CCC;padding:3px;margin-bottom:5px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_star li a:hover{color:#cf0027;}

.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_pages{float:right;height:25px;margin:20px 11px 0 0;font-size:13px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_pages a{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_pages span{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_pages .active{color:#cf0027;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_news .list_pages span b{font-weight:normal;}
/* 新闻内容页样式*/
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .article_tit{color:#cf0027;font-size:17px;text-align:center;margin-bottom:15px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .date{text-align:center;width:460px;margin:0 auto;height:40px;line-height:25px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .date li{display:inline;color:#444;margin-right:14px;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .date li span{color:#777;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .article_text{border-top:1px dotted #d0d0d0;padding:20px 0 0 0;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .article_text p{line-height:20px;font-family:Arial,"微软雅黑","Microsoft YaHei";margin:0 0 5px 0;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .article_text .imgs{width:100%;margin:0 auto 30px 0;text-align:center;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .pages{font-size:13px;margin:0 0 12px 0;line-height:22px;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .pages a{height:24px;color:#444;}
.kc_20130626_content .jinrong_right .rongzi .inform .list_article .pages a:hover{color:#cf0027;}
/* 联系我们页面样式*/
.kc_20130626_content .position{background:url(/static/home/images/site_bg2.png) no-repeat;width:903px;height:24px;line-height:24px;margin:3px auto 0 auto;display:none;}
.kc_20130626_content .position img{float:left;margin:5px 0 0 10px;}
.kc_20130626_content .position .site_position{float:left;margin-left:5px;color:#221815;font-size:12px;}
.kc_20130626_content .position .site_position a{color:#221815;}
.kc_20130626_content .position .site_position a:hover{text-decoration:underline;}
.kc_20130626_content .position .site_position span{margin:0 5px 0 5px;}
.kc_20130626_content .contact{width:903px;margin:18px auto 0 auto;}
.kc_20130626_content .contact .title{}
.kc_20130626_content .contact .title p{font-size:18px;color:#414043;height:22px;font-family:Arial,"微软雅黑","Microsoft YaHei";}
.kc_20130626_content .contact .title span{font-size:12px;color:#c9c9c9;font-family:'Arial';height:23px;line-height:23px;}
.kc_20130626_content .contact .map{width:604px;margin:16px auto 22px auto;}
.kc_20130626_content .contact .contact_address{margin:0 auto 38px auto;}
.kc_20130626_content .contact .contact_address .address{float:left;width:370px;color:#444;margin:0 0 0 5px;color:#444;}
.kc_20130626_content .contact .contact_address .address .company{font-size:14px;height:22px;border-bottom:1px dotted #d0d0d0;width:240px;margin:0 0 8px 0;}
.kc_20130626_content .contact .contact_address .address .address_infos p{line-height:22px;font-size:13px;color:#444;font-family:Arial,"微软雅黑","Microsoft YaHei";}

.kc_20130626_content .contact .inform .list_news .list_content{padding:36px 0 0 15px;background:url(/static/home/images/time_bg.png) repeat-x;}
.kc_20130626_content .contact .inform .list_news .list_content li{height:33px;line-height:33px;border-bottom:1px dotted #d0d0d0;font-size:13px;color:#444;background:url(/static/home/images/icon_10.png) 8px center no-repeat;color:#444;}
.kc_20130626_content .contact .inform .list_news .list_content li a{color:#444;float:left;padding-left:28px;}
.kc_20130626_content .contact .inform .list_news .list_content li span{float:right;margin-right:19px;}
.kc_20130626_content .contact .inform .list_news .list_content li a:hover{color:#cf0027;}

.kc_20130626_content .contact .inform .list_news .list_pages{float:right;height:25px;margin:20px 11px 0 0;font-size:13px;}
.kc_20130626_content .contact .inform .list_news .list_pages a{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .contact .inform .list_news .list_pages span{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .contact .inform .list_news .list_pages .active{color:#cf0027;}
.kc_20130626_content .contact .inform .list_news .list_pages span b{font-weight:normal;}
/*底部信息样式 */
.kc_20130626_foot{height:40px;line-height:40px;color:#2f2f2f;width:980px;margin:0 auto;}
.kc_20130626_foot .ft_copyright{float:left;color:#6b6b6b;}
.kc_20130626_foot .links{float:right;color:#c2c2c2;}
.kc_20130626_foot .links li{float:left;line-height:30px;height:30px;}
.kc_20130626_foot .links a{color:#6b6b6b;margin:0 10px 0 10px;}
.kc_20130626_foot .links a:hover{color:#cf0027;}

/*****************start网站地图**************************/


.kc_map_ul {overflow: hidden;border-bottom: 1px dotted #E7DAB0;margin-bottom: 15px;font-size: 14px;line-height:1.8;}
.kc_map_ul li {float:left;padding:5px 5px;white-space:nowrap;overflow: hidden;text-indent: 10px;}
.kc_map_ul .kc_map_a {display: block;height: 30px;border-bottom: 1px dotted #969595;font-weight: bold;}
.kc_map_ul li li span {}
.kc_map_ul ul {padding-left:5px;}

.kc_sub_div2 {text-indent:0;float:left;}
/*****************end网站地图**************************/

/* 先锋动态样式*/
.kc_20130626_content .inform{margin:20px auto;width:903px;overflow:hidden;}
.kc_20130626_content .inform .desc{padding:0 0 6px 0;height:25px;}
.kc_20130626_content .inform .desc a{display:block;width:54px;height:25px;float:left;background:#e4e4e4;margin-right:2px;text-align:center;line-height:25px;font-size:14px;}
.kc_20130626_content .inform .desc .current{background:#cf0027;color:#fff;}
.kc_20130626_content .inform .list_news{background:url(/static/home/images/time_bbg.png) 0 bottom repeat-x;padding-bottom:15px;margin-bottom:5px;}
.kc_20130626_content .inform .list_news .list_content{position:relative;padding:36px 0 0 15px;background:url(/static/home/images/time_bg.png) no-repeat;}
.kc_20130626_content .inform .list_news .list_content li{height:33px;line-height:33px;border-bottom:1px dotted #d0d0d0;font-size:13px;color:#444;background:url(/static/home/images/icon_10.png) 8px center no-repeat;color:#444;}
.kc_20130626_content .inform .list_news .list_content .video{height:33px;line-height:33px;border-bottom:1px dotted #d0d0d0;font-size:13px;color:#444;background:url(/static/home/images/icon_11.gif) 8px center no-repeat;color:#444;}
.kc_20130626_content .inform .list_news .list_content li a{color:#444;float:left;padding-left:28px;}
.kc_20130626_content .inform .list_news .list_content li span{float:right;margin-right:19px;}
.kc_20130626_content .inform .list_news .list_content li a:hover{color:#cf0027;}
.kc_20130626_content .inform .list_news .list_star{padding:36px 0 0 25px;width:702px;background:url(/static/home/images/time_bg.png) no-repeat;}
.kc_20130626_content .inform .list_news .list_star li{font-size:13px;color:#444;width:107px;height:113px;float:left;margin-right:32px;margin-bottom:30px;}
.kc_20130626_content .inform .list_news .list_star li a{color:#444;width:98px;text-align:center;display:block;}
.kc_20130626_content .inform .list_news .list_star li a img{border:1px solid #CCC;padding:3px;margin-bottom:5px;}
.kc_20130626_content .inform .list_news .list_star li a:hover{color:#cf0027;}
.kc_20130626_content .inform .list_news .list_pages{float:right;height:25px;margin:20px 11px 0 0;font-size:13px;}
.kc_20130626_content .inform .list_news .list_pages a{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .inform .list_news .list_pages span{display:block;float:left;margin:0 10px 0 0;color:#444;}
.kc_20130626_content .inform .list_news .list_pages .active{color:#cf0027;}
.kc_20130626_content .inform .list_news .list_pages span b{font-weight:normal;}
.kc_20130626_content .inform .list_article .article_tit{/*color:#cf0027;*/color:#444;font-size:17px;text-align:center;margin-bottom:15px;}
.kc_20130626_content .inform .list_article .date{text-align:center;width:460px;margin:0 auto;height:40px;line-height:25px;}
.kc_20130626_content .inform .list_article .date li{display:inline;color:#444;margin-right:14px;}
.kc_20130626_content .inform .list_article .date li span{color:#777;}
.kc_20130626_content .inform .list_article .article_text{border-top:1px dotted #d0d0d0;padding:20px 0 0 0;}
.kc_20130626_content .inform .list_article .article_text p{line-height:20px;font-family:Arial,"微软雅黑","Microsoft YaHei";margin:0 0 5px 0;color:#444;}
.kc_20130626_content .inform .list_article .article_text .imgs{width:100%;margin:0 auto 30px 0;text-align:center;}
.kc_20130626_content .inform .list_article .pages{font-size:13px;margin:20px 0 12px 0;line-height:22px;color:#444;}
.kc_20130626_content .inform .list_article .pages a{height:24px;color:#444;}
.kc_20130626_content .inform .list_article .pages a:hover{color:#cf0027;}

/* 中英文切换 */
.kc_20130626_logo .language_toggle1{float:right;margin-right:4px;}
.kc_20130626_logo .language_toggle1 a{font-family: '微软雅黑';color: #414043;}

/* 行业研究 */
.kc_20130626_content .jinrong_right .rongzi .industry_b a{color:#414043;font-size:14px;display:block;text-indent:30px;width:230px;height:36px;line-height:36px;float:left;}
/*.kc_20130626_content .jinrong_right .rongzi .industry_b a:hover{text-decoration:underline} */body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0px; margin:0px;}
fieldset, img{border:0;}
ol, ul{list-style: none;}
.clr:after{content:" "; display:block; height:0px; clear:both; visibility:hidden;}.clr{display:inline-block;}* html .clr{height:0%;}
.clr{display:block;}
.col{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle;}
.wrap{overflow:hidden; *display:inline-block;}.wrap{*display:block;}
.l{ float:left;}.r{ float:right;}

.sr_body{/*background:url(../images/search/search_xbg.jpg) repeat-x;*/color:#1A7DAC;width:980px;margin:0 auto;}
.sr_body a:link,.sr_body a:visited{color:#000000; text-decoration:none;}
.sr_body a:hover{text-decoration:underline;}
.sr_head{height:32px; line-height:32px; font-family:Arial,sans-serif; font-size:14px;}
.sr_head .r a{ margin-left:20px;}
.sr_head .l a.on{color:#000;outline: medium none;font-weight:bold;color:#1A7DAC;}
.sr_main{/*background:url(../images/search/search_cbg.jpg) no-repeat;*/ width:1000px; margin:0px auto; text-align:center;}
.sr_frm{width:450px; margin:0px auto;text-align:left!important; height:280px;}

.sr_logo img{ margin-left:-80px;}

.sr_frm_box{height:33px; line-height:33px;}
.sr_frmipt{float:left;width:398px; height:32px;background:url(../images/search/sr_iptbg.gif) no-repeat -5px -5px; overflow:hidden;}
.sr_frmipt input,.sr_frmipt .sp{float:left; margin-left:9px;}
.sr_frmipt input.ipt{height:26px; line-height:26px;margin-left:8px;margin-top:3px; *margin-top:2px; width:282px; *width:278px; border:none; *border:0px!important;}
.ss_btn{background:url(../images/search/sr_iptbg.gif) no-repeat -350px -50px; width:82px; cursor:pointer; border:none; font-size:14px; font-weight:bold; color:#fff; height:32px!important; line-height:32px!important;}
.sp{ background:url(../images/search/sr_iptbg.gif) no-repeat -423px 0px; text-indent:-10000px; width:8px; margin-left:8px; margin-top:1px; height:30px; cursor:pointer;}

.sr_infoul{border:1px solid #91C0E3; padding:2px; width:310px; display:none;}
.sr_infoul ul li{ height:24px; line-height:24px; text-align:left!important; color:#666;}
.sr_infoul ul li a{display:block; color:#666!important;display:block; width:100%;}
.sr_infoul ul li a:hover,.sr_infoul ul li.ac_over a{color:#FFF!important; background:#069; text-decoration:none;}
.sr_footer{font-size:12px; line-height:22px; margin-top:30px; text-align:center; border-top:1px solid #DBE7ED; padding-top:10px;}

.sr_list{/*background:url(../images/search/sr_list_tbg.jpg) repeat-x;*/}
.sr_logo{height:auto!important; height:24px; min-height:14px;margin-top:10px;}
.sr_list .sr_frm_box{position:relative;}
.sr_list .sr_frm_box .sr_infoul{position:absolute; top:33px; background:#fff; left:0px!important;}

.sr_list .sr_main{/*background:url(../images/search/sr_listbg.jpg) no-repeat;*/}
.sr_list .sr_head{ padding:0px 30px;}
.sr_list .sr_logo img{ margin-left:0px;}
.sr_list .sr_logo{position:relative;overflow:visible;}
.sr_list .sr_logo div.l{ margin-top:10px;position:relative;}
.sr_list .jg{ text-align:left; font-size:12px; margin-top:16px;}
.brd1s{background:url(../images/search/sr_xbg.jpg) no-repeat; width:946px; height:2px; margin:10px auto 0px;}
.sr_lists{}
.sr_lists .l{ width:220px; float:left; background:url(../images/search/sr_ybg.jpg) no-repeat right top; height:auto!important; height:842px; min-height:842px;}
.sr_lists .l div{margin:16px 0px 0px; text-align:right; font-size:12px; background:url(../images/search/sr_bbg.jpg) no-repeat 100% 100%; padding:10px; padding-left:0px; margin-right:1px;}
.bgno{background:none!important;}
.sr_lists .l div span{ font-size:12px; color:#999;}
.sr_lists .l div ul{ margin-top:6px;}
.sr_lists .l div ul li{ height:24px; line-height:24px; overflow:hidden;}
.sr_lists .l div ul li a{ padding-right:16px;}
.sr_lists .l div ul li a:hover,.sr_lists .l div ul li a.ac{background:url(../images/search/bg_member_1.gif) no-repeat 100% -30px; font-weight:bold;}

.sr_lists .c{text-align:left;}
.sr_lists .c ul{ margin:10px;}
.sr_lists .c li{border-bottom:1px dashed #CCC; margin-top:18px;}
.sr_lists .c li div p{ line-height:25px; margin-top:6px; font-size:12px; color:#999;}
.sr_lists .c li div.adds{ font-size:12px; margin:10px 4px;}

.sr_lists .c li a img{float:left; border:1px solid #ADCBE9; padding:2px; background:#FFF; margin-right:10px;}
.sr_lists .c li a:hover img{background:#efefef;}
.sr_lists .c .a2{ margin:10px;}
/* pages */
#pages { padding:14px 0 10px; font-family:瀹嬩綋; margin:10px; }
#pages a { display:inline-block; width:26px; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#FFF}
#pages a.a1 { background:url(../images/search/admin_img/pages.png) no-repeat 0 5px; width:56px; color:#FFF}
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:inline-block; width:26px; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

.sgch{background:#F2F8FD;margin:10px;padding:6px;}
.sgch strong{display:block; color:#666; margin-bottom:10px; font-size:14px;}
.sgch a{font-size:12px; margin:4px 10px 8px 10px; text-decoration:underline!important; float:left; display:block;white-space:normal;}